.circle {
  position: relative;
  background-color: rgba(220, 20, 60, 0);
  width: 20%;
  color: white;
  font-weight: 500;
  height: 50%;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.circle p {
  margin-top: 10px;
  color: var(--neutralWhite);
}
.circle_1,
.circle_2,
.circle_3,
.circle_4 {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: transparent;
  border: solid 1px white;
  display: flex;
  justify-content: center;
  color: black;
}

.circle_1.active,
.circle_2.active,
.circle_3.active,
.circle_4.active {
  background-color: var(--primaryMarineBlue);
  border: none;
  color: var(--neutralWhite);
}

/* 
.circle > .circle_1:first-child,
.circle > .circle_1:first-child > p {
  background-color: var(--primaryLightBlue);
  border: none;
  color: black;
} */

.steps {
  position: relative;
  background-color: rgba(255, 255, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 50%;
  margin-top: 15%;
  margin-left: 0%;
}

.step_1 {
  position: inherit;
  padding-left: 5px;
  background-color: rgba(156, 55, 55, 0);
}

.steps p {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 14px;
  color: hsl(231, 11%, 63%);
}

.steps span {
  color: var(--neutralWhite);
  font-weight: var(--bold-weight);
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    background-color: hsl(227, 36%, 90%);
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 20px 20px 20px rgba(47, 18, 18, 0.101);
    width: 375px;
    height: 680px;
    padding: 0;
  }

  .step_Display {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 172px;
    background-color: rgba(30, 16, 186, 0);
    background-image: url(../../assets/images/bg-sidebar-mobile.svg);
    border-radius: 10px;
  }

  .circle {
    position: relative;
    width: 50%;
    color: white;
    font-weight: 500;
    height: 2%;
    display: flex;
    flex-direction: row;
  }

  .circle p {
    margin-top: 5px;
  }

  .circle_1,
  .circle_2,
  .circle_3,
  .circle_4 {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: transparent;
    border: solid 1px white;
    justify-content: center;
    align-items: center;
    color: black;
  }

  .steps {
    display: none;
  }
}