.plan_title h1 {
  padding-bottom: 0.2em;
}

.description {
  padding-bottom: 3em;
}

.monthlyPlan {
  display: flex;
  justify-content: space-between;
}

.btnPlan {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 30%;
  height: 200px;
  cursor: pointer;
  background-color: var(--neutralWhite);
  border: 1px solid var(--neutralLightGray);
}

.btnPlan img {
  margin-top: 14px;
  margin-left: 8px;
}

.btnPlan p {
  font-size: 18px;
  margin-top: 50px;
  margin-left: 8px;
  margin-bottom: 8px;
}

.btnPlan span {
  margin-left: 8px;
  color: var(--neutralCoolGray);
}

.free {
  margin-top: 10px;
  cursor: pointer;
  margin-left: 8px;
  font-size: 12px;
}

#year_Plan{
    display: none;
}

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  background-color: var(--neutralMagnolia);
  border-radius: 10px;
  margin-top: 25px;
}

.check {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  overflow: hidden;
}

.check input {
  position: absolute;
  top: -30px;
  left: -30px;
  width: 0;
  height: 0;
}

input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}

.check input + span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--primaryMarineBlue);
  border-radius: 20px;
}
.check input + span::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 4px;
  width: 12px;
  height: 12px;
  background: var(--neutralWhite);
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all 0.5s;
}

.btn_container_step_two {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 255, 51, 0);
  padding-top: 75px;
}

.goBack {
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  font-size: 16px;
  color: var(--neutralCoolGray);
}

.next_step {
  padding: 15px 20px 15px 20px;
  width: 120px;
  background-color: var(--primaryMarineBlue);
  color: var(--neutralWhite);
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 255, 0);
  cursor: pointer;
  font-size: 16px;
}
