* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primaryMarineBlue: hsl(213, 96%, 18%);
  --primaryPurplishBlue: hsl(243, 100%, 62%);
  --primaryPastelBlue: hsl(228, 100%, 84%);
  --primaryLightBlue: hsl(206, 94%, 87%);
  --primaryStrawberryRed: hsl(354, 84%, 57%);

  /* Neutraal colors */
  --neutralCoolGray: hsl(231, 11%, 63%);
  --neutralLightGray: hsl(229, 24%, 87%);
  --neutralMagnolia: hsl(217, 100%, 97%);
  --neutralAlabaster: hsl(231, 100%, 99%);
  --neutralWhite: hsl(0, 0%, 100%);
  --box-shadow: rgba(47, 18, 18, 0.101);

  /* Navbar colors */

  --main-color: #6259ff;

  /* font family */
  --font-family: "Ubuntu", sans-serif;

  /* font Weights */
  --regular-weight: 400;
  --medium-weight: 500;
  --bold-weight: 700;

  /* font sizes */
  --small-font: 14px;
  --regular-font: 16px;
  --medium-font: 18px;
  --large-font: 24px;
  --heading-font: 34px;
}
body {
  font-family: var(--font-family);
  background-color: var(--neutralLightGray);
}
.container {
  display: flex;
  background-color: var(--neutralWhite);
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 20px 20px 20px var(--box-shadow);
  width: 1000px;
  height: 568px;
}

.step_Display {
  display: flex;
  justify-content: center;
  width: 274px;
  height: 568px;
  background-color: rgba(30, 16, 186, 0);
  background-image: url(/src/assets/images/bg-sidebar-desktop.svg);
}

.circle {
  position: relative;
  background-color: rgba(220, 20, 60, 0);
  width: 20%;
  color: white;
  font-weight: 500;
  height: 50%;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.circle p {
  margin-top: 10px;
}
.circle_1,
.circle_2,
.circle_3,
.circle_4 {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  border: solid 1px white;
  display: flex;
  justify-content: center;
  color: black;
}

.steps {
  position: relative;
  background-color: rgba(255, 255, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 50%;
  margin-top: 15%;
  margin-left: 0%;
}

.step_1 {
  position: inherit;
  padding-left: 5px;
  background-color: rgba(156, 55, 55, 0);
}

.steps p {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 14px;
  color: hsl(231, 11%, 63%);
}

.steps span{
  color: var(--neutralWhite);
}
