.steps_container {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}
.info_step h1{
    padding-bottom: .2em;
}

.info_step .description{
    padding-bottom: 3em;
}

.input_group{
    padding-bottom: 1.5em;
}
.error_message{
    padding-bottom: .3em;
}

.error_message p{
    color: var(--primaryMarineBlue);
    font-weight: var(--medium-weigh);
}
.info_step input {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: solid 1px var(--neutralLightGray);
}
 input::placeholder{
    padding: 1em;
 }
.btn_container_step_one button {
  float: right;
  padding: 15px 25px;
  background-color: var(--primaryMarineBlue);
  color: var(--neutralWhite);
  border-radius: 5px;
  margin-top: 5em;
  cursor: pointer;
}
